@keyframes shine {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes expand {
    from {
        transform: translateX(0) translateY(0);

    }

    to {
        transform: translateX(-25px) translateY(25px);
    }
}