/* footer */
.footer {
    background-color: var(--backgroun-color);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    max-width: 1250px;
}

.footer .footer__container {
    display: grid;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer .footer__container__paragraph:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .footer__container__paragraph:last-of-type {
    display: flex;
    align-items: end;
}

.footer .footer__container__paragraph {
    color: rgba(255, 255, 255, .4);
    height: 100%;
}

.footer .footer__container__logo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
    text-decoration: none;
}

.footer .footer__container__logo img {
    margin-right: 10px;
}