.header {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1250px;
    z-index: 1000;
}

.header .header__container .hedaer__burger-menu .header__burger-menu__span {
    display: none;
}

.header .header__container {
    display: flex;
    gap: 15%;
    padding-top: 70px;
}

.header__logo {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bold;
}

.header .header__nav__link {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1.5px;
    font-size: 0.7em;
    width: max-content;
}

.header .header__container .header__nav .header__nav__list {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    list-style-type: none;
    gap: 25px;
}