/* hero */
.hero {
    background-image: linear-gradient(rgba(95, 55, 30, 0.2), rgba(82, 49, 29, 0.3)), url("../assets/hero.png");
    background-repeat: no-repeat;
    background-position: right;
    width: auto;
    height: 800px;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
}

.hero .hero__container {
    z-index: 10;
    text-align: center;
    margin: 0 auto 6.25em;
    padding-top: 80px;
}

.hero .hero__container .hero__display-info__title {
    color: var(--main-color);
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero .hero__container .hero__display-info__subtitle {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0.5em;
}

.hero .hero__container .hero__display-info .hero__display-info__logo {
    transition: all 1s;
}

.hero .hero__container .hero__display-info .hero__display-info__logo:hover {
    transform: rotateY(180deg) scale(0.7);
    transition: all 1s;
}

.hero .hero__shinning-stars {
    position: absolute;
    height: 700px;
    margin: auto;
    right: -16px;
    bottom: 50px;
    animation: shine 4s linear infinite;
}

.hero .hero__stars {
    position: absolute;
    width: 750px;
    height: auto;
    right: 40px;
    bottom: 135px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: expand 2s linear infinite alternate;
}