/* learn more */
@use 'variables';

.learn-more {
    background: linear-gradient(rgba(140, 79, 42, .2), rgba(140, 79, 42, .3)), url("../assets/learn-more.png");
    background-repeat: no-repeat;
    background-position: 50%;
    width: auto;
    height: 650px;
    padding: 3em;
    background-size: cover;
}

.learn-more .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.learn-more .learn-more__container__title {
    color:  var(--main-color);
    font-size: 2.5em;
}

.learn-more .learn-more__container .learn-more__container__button {
    background-color: variables.$brand-color;
    color: var(--main-color);
    padding: 5%;
    border-radius: 50%;
    font-size: 3.5em;
    border-color: transparent;
    transition: all 0.5s;
}

.learn-more .container .learn-more__container__button:hover {
    background-color: var(--main-color);
    color: variables.$brand-color;
    transition: all 0.5s;
}

.learn-more .container .learn-more__container__subtitle {
    color: var(--main-color);
}