/* main */
@use 'variables';

.main {
    background-color: #EEEEEE;
    background-size: cover;
    width: auto;
    height: auto;
    padding-top: 3em;
    padding-bottom: 5em;
    text-align: center;
}

.main .main__container {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    padding-bottom: 3em;
    max-width: 100%;
}

.main .main__title {
    color: #000000;
    margin-bottom: 0.5em;
    font-size: 2.5em;
    font-weight: bold;
}

.main .main__subtitle {
    color: #666666;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.main .main__container__paragraph {
    margin-bottom: 1.5em;
    text-align: left;
}

.main .main__container__actions__button {
    background-color: variables.$brand-color;
    color: #ffffff;
    padding: 15px 40px 15px 40px;
    border-radius: 50px;
    font-size: small;
    text-transform: uppercase;
    border-color: transparent;
    transition: all 0.5s;
}

.main .main__container__actions__button:hover {
    transform: rotateZ(8deg);
    transform-origin: left;
    transition: all 0.5s;
}