@media only screen and (max-width: 768px) {
    .header .header__container {
        width: 90%;
        justify-content: space-between;
    }

    .header .header__container .header__nav {
        display: none;
    }

    .header .header__container .header__burger-menu .header__burger-menu__span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background: #cdcdcd;
        border-radius: 3px;
    }

    .hero .hero__shinning-stars {
        margin: auto;
        width: 470px;
        height: auto;
        right: -15px;
        bottom: 60px;
    }

    .main .main__container {
        grid-template-columns: 1fr;
    }

    .footer .footer__container {
        grid-template-columns: 1fr;
        place-items: center;
        text-align: center;
        gap: 10px;
    }
}