@import 'header.scss';
@import 'hero.scss';
@import 'main.scss';
@import 'learn-more.scss';
@import 'footer.scss';
@import 'variables.scss';
@import 'mobile-queries.scss';
@import 'animations.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

body {
    margin: 0px auto;
    max-width: 1250px;
}