.header {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1250px;
  z-index: 1000;
}

.header .header__container .hedaer__burger-menu .header__burger-menu__span {
  display: none;
}

.header .header__container {
  display: flex;
  gap: 15%;
  padding-top: 70px;
}

.header__logo {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  font-weight: bold;
}

.header .header__nav__link {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1.5px;
  font-size: 0.7em;
  width: -moz-max-content;
  width: max-content;
}

.header .header__container .header__nav .header__nav__list {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  list-style-type: none;
  gap: 25px;
}

/* hero */
.hero {
  background-image: linear-gradient(rgba(95, 55, 30, 0.2), rgba(82, 49, 29, 0.3)), url("../assets/hero.png");
  background-repeat: no-repeat;
  background-position: right;
  width: auto;
  height: 800px;
  background-size: cover;
  display: flex;
  position: relative;
  align-items: center;
}

.hero .hero__container {
  z-index: 10;
  text-align: center;
  margin: 0 auto 6.25em;
  padding-top: 80px;
}

.hero .hero__container .hero__display-info__title {
  color: var(--main-color);
  font-size: 3em;
  margin-bottom: 0.5em;
}

.hero .hero__container .hero__display-info__subtitle {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0.5em;
}

.hero .hero__container .hero__display-info .hero__display-info__logo {
  transition: all 1s;
}

.hero .hero__container .hero__display-info .hero__display-info__logo:hover {
  transform: rotateY(180deg) scale(0.7);
  transition: all 1s;
}

.hero .hero__shinning-stars {
  position: absolute;
  height: 700px;
  margin: auto;
  right: -16px;
  bottom: 50px;
  animation: shine 4s linear infinite;
}

.hero .hero__stars {
  position: absolute;
  width: 750px;
  height: auto;
  right: 40px;
  bottom: 135px;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: expand 2s linear infinite alternate;
}

:root {
  --main-color: #ffffff;
  --backgroun-color: #464547;
}

/* main */
.main {
  background-color: #EEEEEE;
  background-size: cover;
  width: auto;
  height: auto;
  padding-top: 3em;
  padding-bottom: 5em;
  text-align: center;
}

.main .main__container {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding-bottom: 3em;
  max-width: 100%;
}

.main .main__title {
  color: #000000;
  margin-bottom: 0.5em;
  font-size: 2.5em;
  font-weight: bold;
}

.main .main__subtitle {
  color: #666666;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.main .main__container__paragraph {
  margin-bottom: 1.5em;
  text-align: left;
}

.main .main__container__actions__button {
  background-color: #55C2D8;
  color: #ffffff;
  padding: 15px 40px 15px 40px;
  border-radius: 50px;
  font-size: small;
  text-transform: uppercase;
  border-color: transparent;
  transition: all 0.5s;
}

.main .main__container__actions__button:hover {
  transform: rotateZ(8deg);
  transform-origin: left;
  transition: all 0.5s;
}

:root {
  --main-color: #ffffff;
  --backgroun-color: #464547;
}

/* learn more */
.learn-more {
  background: linear-gradient(rgba(140, 79, 42, 0.2), rgba(140, 79, 42, 0.3)), url("../assets/learn-more.png");
  background-repeat: no-repeat;
  background-position: 50%;
  width: auto;
  height: 650px;
  padding: 3em;
  background-size: cover;
}

.learn-more .container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.learn-more .learn-more__container__title {
  color: var(--main-color);
  font-size: 2.5em;
}

.learn-more .learn-more__container .learn-more__container__button {
  background-color: #55C2D8;
  color: var(--main-color);
  padding: 5%;
  border-radius: 50%;
  font-size: 3.5em;
  border-color: transparent;
  transition: all 0.5s;
}

.learn-more .container .learn-more__container__button:hover {
  background-color: var(--main-color);
  color: #55C2D8;
  transition: all 0.5s;
}

.learn-more .container .learn-more__container__subtitle {
  color: var(--main-color);
}

/* footer */
.footer {
  background-color: var(--backgroun-color);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  max-width: 1250px;
}

.footer .footer__container {
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer .footer__container__paragraph:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .footer__container__paragraph:last-of-type {
  display: flex;
  align-items: end;
}

.footer .footer__container__paragraph {
  color: rgba(255, 255, 255, 0.4);
  height: 100%;
}

.footer .footer__container__logo {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
  text-decoration: none;
}

.footer .footer__container__logo img {
  margin-right: 10px;
}

:root {
  --main-color: #ffffff;
  --backgroun-color: #464547;
}

@media only screen and (max-width: 768px) {
  .header .header__container {
    width: 90%;
    justify-content: space-between;
  }
  .header .header__container .header__nav {
    display: none;
  }
  .header .header__container .header__burger-menu .header__burger-menu__span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: #cdcdcd;
    border-radius: 3px;
  }
  .hero .hero__shinning-stars {
    margin: auto;
    width: 470px;
    height: auto;
    right: -15px;
    bottom: 60px;
  }
  .main .main__container {
    grid-template-columns: 1fr;
  }
  .footer .footer__container {
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    gap: 10px;
  }
}
@keyframes shine {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes expand {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(-25px) translateY(25px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

body {
  margin: 0px auto;
  max-width: 1250px;
}/*# sourceMappingURL=styles.css.map */